Repository thwbh/librefit: changes, and which Codecov flags are due for each by the changed paths.
All: rust, svelte

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

flags:
  rust:
    paths:
      - src-tauri/
    carryforward: true
  svelte:
    paths:
      - src/
    carryforward: true

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "src-tauri/target"
  - "src-tauri/migrations"
  - "src/lib/api/gen"
  - "tests"
  - "**/*.test.ts"
  - "**/*.test.svelte"

chore: regenerate package-lock.json to sync with package.json
  package-lock.json
Due: none

chore(deps): sync lockfile
  package-lock.json
Due: none

fix(i18n): adapt to validator 0.20 API changes
  src-tauri/src/i18n/localize.rs
Due: rust

fix(test): update avatar alt selectors for jsdom 29 compatibility
  src/lib/component/profile/UserAvatar.test.ts
Due: none

feat(deps): add grouping for major framework updates in dependabot
  .github/dependabot.yml
Due: none

feat(deps): add grouping for major framework updates in dependabot (#249)
  .github/dependabot.yml
Due: none

chore(deps): update dependencies (#250)
  .github/dependabot.yml
  .github/workflows/android-release.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dependency-review.yml
  .github/workflows/label-issues.yml
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/i18n/localize.rs
  src/lib/component/profile/UserAvatar.test.ts
  src/routes/(app)/page.test.ts
Due: rust

feat(deps): add workflow to automatically regenerate lockfile
  .github/workflows/dependabot-lockfile.yml
Due: none

fix(deps): add 'deps' to lockfile resolution workflow
  .github/workflows/dependabot-lockfile.yml
Due: none

feat(workout): add history summary card
  openspec/changes/workout-history/tasks.md
  src-tauri/src/lib.rs
  src-tauri/src/service/workout.rs
  src-tauri/tests/cmd/test_workout_cmd.rs
  src/lib/component/history/HistoryDayCard.svelte
  src/lib/component/history/HistoryDayCard.svelte.test.ts
  src/lib/workout/history.test.ts
  src/lib/workout/history.ts
  src/routes/(app)/history/+page.svelte
Due: rust, svelte

chore(workout): add workout-history proposal
  openspec/changes/workout-history/.openspec.yaml
  openspec/changes/workout-history/design.md
  openspec/changes/workout-history/proposal.md
  openspec/changes/workout-history/specs/dashboard/spec.md
  openspec/changes/workout-history/specs/history/spec.md
  openspec/changes/workout-history/specs/progress/spec.md
  openspec/changes/workout-history/tasks.md
Due: none

feat(workout): dashboard today's-workout cards + card swipe edit/delete with confirm
  openspec/changes/workout-history/design.md
  openspec/changes/workout-history/specs/dashboard/spec.md
  openspec/changes/workout-history/specs/history/spec.md
  openspec/changes/workout-history/tasks.md
  src/lib/component/dashboard/DashboardLayout.svelte
  src/lib/component/dashboard/DashboardLayout.svelte.test.ts
  src/lib/component/dashboard/DashboardWorkoutSurface.svelte
  src/lib/component/dashboard/DashboardWorkoutSurface.svelte.test.ts
  src/lib/component/history/HistoryDayCard.svelte
  src/lib/component/workout/SetMask.svelte
  src/lib/component/workout/WorkoutDeleteDialog.svelte
  src/lib/component/workout/WorkoutDeleteDialog.svelte.test.ts
  src/lib/component/workout/WorkoutEditModal.svelte
  src/lib/component/workout/WorkoutEditModal.svelte.test.ts
  src/lib/component/workout/WorkoutHistoryModal.svelte
  src/lib/component/workout/WorkoutSummaryCard.svelte
  src/lib/component/workout/WorkoutSummaryCard.svelte.test.ts
  src/lib/workout/history.test.ts
  src/routes/(app)/+page.svelte
  src/routes/(app)/history/+page.svelte
  src/routes/(app)/history/page.test.ts
  src/routes/(app)/page.test.ts
Due: svelte

feat(workout): add body/workout segmented control to progress
  openspec/changes/workout-history/tasks.md
  src/routes/(app)/progress/+page.svelte
  src/routes/(app)/progress/page.test.ts
Due: svelte

feat(progress): Body/Workout segmented control + muscle coverage map & overview
  openspec/changes/workout-history/tasks.md
  src/lib/component/workout/MuscleMap.svelte
  src/lib/component/workout/MuscleMap.svelte.test.ts
  src/lib/workout/history.test.ts
  src/lib/workout/history.ts
  src/routes/(app)/progress/+page.svelte
Due: svelte

chore(progress): spec churn
  CHANGELOG.md
  openspec/changes/archive/2026-06-07-workout-history/.openspec.yaml
  openspec/changes/archive/2026-06-07-workout-history/design.md
  openspec/changes/archive/2026-06-07-workout-history/proposal.md
  openspec/changes/archive/2026-06-07-workout-history/specs/dashboard/spec.md
  openspec/changes/archive/2026-06-07-workout-history/specs/history/spec.md
  openspec/changes/archive/2026-06-07-workout-history/specs/progress/spec.md
  openspec/changes/archive/2026-06-07-workout-history/tasks.md
  openspec/specs/dashboard/spec.md
  openspec/specs/history/spec.md
  openspec/specs/progress/spec.md
Due: none

feat(history): workout activity section, summary cards + flat-CRUD editor
  openspec/changes/workout-history/design.md
  openspec/changes/workout-history/specs/history/spec.md
  openspec/changes/workout-history/tasks.md
  src/lib/component/history/HistoryDayCard.svelte
  src/lib/component/workout/WorkoutEditModal.svelte
  src/lib/component/workout/WorkoutEditModal.svelte.test.ts
  src/lib/component/workout/WorkoutHistoryModal.svelte
  src/lib/component/workout/WorkoutSummaryCard.svelte
  src/lib/workout/history.test.ts
  src/lib/workout/history.ts
  src/routes/(app)/history/+page.svelte
Due: svelte

workout history (#258)
  CHANGELOG.md
  openspec/changes/archive/2026-06-07-workout-history/.openspec.yaml
  openspec/changes/archive/2026-06-07-workout-history/design.md
  openspec/changes/archive/2026-06-07-workout-history/proposal.md
  openspec/changes/archive/2026-06-07-workout-history/specs/dashboard/spec.md
  openspec/changes/archive/2026-06-07-workout-history/specs/history/spec.md
  openspec/changes/archive/2026-06-07-workout-history/specs/progress/spec.md
  openspec/changes/archive/2026-06-07-workout-history/tasks.md
  openspec/specs/dashboard/spec.md
  src-tauri/src/lib.rs
  src-tauri/src/service/workout.rs
  src-tauri/tests/cmd/test_workout_cmd.rs
  src/lib/component/dashboard/DashboardLayout.svelte
  src/lib/component/dashboard/DashboardLayout.svelte.test.ts
  src/lib/component/dashboard/DashboardWorkoutSurface.svelte
  src/lib/component/dashboard/DashboardWorkoutSurface.svelte.test.ts
  src/lib/component/history/HistoryDayCard.svelte
  src/lib/component/history/HistoryDayCard.svelte.test.ts
  src/lib/component/workout/MuscleMap.svelte
  src/lib/component/workout/MuscleMap.svelte.test.ts
  src/lib/component/workout/SetMask.svelte
  src/lib/component/workout/WorkoutDeleteDialog.svelte
  src/lib/component/workout/WorkoutDeleteDialog.svelte.test.ts
  src/lib/component/workout/WorkoutEditModal.svelte
  src/lib/component/workout/WorkoutEditModal.svelte.test.ts
  src/lib/component/workout/WorkoutHistoryModal.svelte
  src/lib/component/workout/WorkoutSummaryCard.svelte
  src/lib/component/workout/WorkoutSummaryCard.svelte.test.ts
  src/lib/workout/history.test.ts
  src/lib/workout/history.ts
  src/routes/(app)/+page.svelte
  src/routes/(app)/history/+page.svelte
  src/routes/(app)/history/page.test.ts
  src/routes/(app)/page.test.ts
  src/routes/(app)/progress/+page.svelte
  src/routes/(app)/progress/page.test.ts
Due: rust, svelte

chore(deps): add lockfile-sync workflow for dependabot
  .github/workflows/dependabot-lockfile-sync.yml
Due: none

fix(tests): resolve temporal test cases
  src-tauri/tests/cmd/test_intake_cmd.rs
  src-tauri/tests/cmd/test_weight_cmd.rs
  src-tauri/tests/helpers/mod.rs
Due: rust

chore(deps): update deps; fix tests (#279)
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tests/cmd/test_intake_cmd.rs
  src-tauri/tests/cmd/test_weight_cmd.rs
  src-tauri/tests/helpers/mod.rs
Due: rust

chore(workout): add openspec changes
  openspec/changes/add-exercise-library/.openspec.yaml
  openspec/changes/add-exercise-library/design.md
  openspec/changes/add-exercise-library/proposal.md
  openspec/changes/add-exercise-library/specs/dashboard/spec.md
  openspec/changes/add-exercise-library/specs/workout-tracking/spec.md
  openspec/changes/add-exercise-library/tasks.md
Due: none

feat(workout): add exercise library backend utility + tests
  openspec/changes/add-exercise-library/design.md
  openspec/changes/add-exercise-library/tasks.md
  src-tauri/migrations/2026-06-03-000000_add_workout_templates/up.sql
  src-tauri/migrations/2026-06-13-120000_user_exercises/down.sql
  src-tauri/migrations/2026-06-13-120000_user_exercises/up.sql
  src-tauri/src/db/schema.rs
  src-tauri/src/lib.rs
  src-tauri/src/service/workout.rs
  src-tauri/tests/cmd/mod.rs
  src-tauri/tests/cmd/test_exercise_cmd.rs
  src/lib/component/workout/ExercisePicker.svelte
  src/lib/component/workout/ExercisePicker.svelte.test.ts
Due: rust, svelte

feat(workout): add exercise maintenance page
  openspec/changes/add-exercise-library/design.md
  openspec/changes/add-exercise-library/specs/workout-tracking/spec.md
  openspec/changes/add-exercise-library/tasks.md
  package-lock.json
  src/lib/component/dashboard/AvatarMaintenanceIndicator.svelte
  src/lib/component/dashboard/AvatarMaintenanceIndicator.svelte.test.ts
  src/lib/component/settings/Settings.svelte
  src/lib/component/workout/ExerciseFormModal.svelte
  src/lib/component/workout/ExerciseFormModal.svelte.test.ts
  src/lib/component/workout/ExerciseQuickFix.svelte
  src/lib/component/workout/ExerciseQuickFix.svelte.test.ts
  src/lib/component/workout/WorkoutEditModal.svelte.test.ts
  src/lib/workout/history.test.ts
  src/routes/(app)/+page.svelte
  src/routes/(app)/exercises/+page.svelte
  src/routes/(app)/exercises/page.test.ts
Due: svelte

chore(workout): sync & archive specs
  openspec/changes/add-exercise-library/specs/workout-tracking/spec.md
  openspec/changes/add-exercise-library/tasks.md
  openspec/changes/archive/2026-06-17-add-exercise-library/.openspec.yaml
  openspec/changes/archive/2026-06-17-add-exercise-library/design.md
  openspec/changes/archive/2026-06-17-add-exercise-library/proposal.md
  openspec/changes/archive/2026-06-17-add-exercise-library/specs/dashboard/spec.md
  openspec/changes/archive/2026-06-17-add-exercise-library/specs/workout-tracking/spec.md
  openspec/changes/archive/2026-06-17-add-exercise-library/tasks.md
  openspec/specs/_conv-undo/spec.md
  openspec/specs/dashboard/spec.md
  openspec/specs/workout-tracking/spec.md
  src/lib/component/workout/ExerciseFormModal.svelte.test.ts
  src/lib/snackbar.test.ts
  src/routes/(app)/exercises/page.test.ts
Due: none

refactor(workout): store exercise temporal data as added/time columns, parse via date util
  openspec/changes/add-exercise-library/design.md
  openspec/changes/add-exercise-library/proposal.md
  openspec/changes/add-exercise-library/tasks.md
  src-tauri/migrations/2026-06-13-120000_user_exercises/down.sql
  src-tauri/migrations/2026-06-13-120000_user_exercises/up.sql
  src-tauri/res/tracker.db.bak-1781526477
  src-tauri/src/db/schema.rs
  src-tauri/src/service/workout.rs
  src-tauri/tests/cmd/test_exercise_cmd.rs
  src/lib/component/dashboard/AvatarMaintenanceIndicator.svelte
  src/lib/component/dashboard/AvatarMaintenanceIndicator.svelte.test.ts
  src/lib/component/workout/ExerciseQuickFix.svelte.test.ts
  src/lib/date.test.ts
  src/lib/date.ts
Due: rust, svelte

feat(workout): rework exercise tidy-up/library UX: multi-tag batch, undo snackbars, swipe gestures
  src-tauri/src/service/workout.rs
  src-tauri/tests/cmd/test_exercise_cmd.rs
  src/lib/component/workout/ExerciseFormModal.svelte
  src/lib/component/workout/ExerciseFormModal.svelte.test.ts
  src/lib/component/workout/ExerciseQuickFix.svelte
  src/lib/component/workout/ExerciseQuickFix.svelte.test.ts
  src/lib/component/workout/ExerciseTagPicker.svelte
  src/lib/component/workout/WorkoutSummaryCard.svelte
  src/lib/component/workout/WorkoutSummaryCard.svelte.test.ts
  src/lib/snackbar.test.ts
  src/lib/snackbar.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/+page.svelte
  src/routes/(app)/exercises/+page.svelte
  src/routes/(app)/exercises/page.test.ts
  src/style.css
Due: rust, svelte

build(typegen): generate TS bindings via xtask instead of the CLI
  .github/workflows/android-release.yml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src-tauri/xtask/Cargo.toml
  src-tauri/xtask/src/main.rs
Due: rust

chore(workout): add template openspec changes
  openspec/changes/add-workout-templates/.openspec.yaml
  openspec/changes/add-workout-templates/design.md
  openspec/changes/add-workout-templates/proposal.md
  openspec/changes/add-workout-templates/specs/workout-tracking/spec.md
  openspec/changes/add-workout-templates/tasks.md
Due: none

feat(workout): seed workout template data
  openspec/changes/add-workout-templates/tasks.md
  src-tauri/migrations/2026-06-03-000000_add_workout_templates/up.sql
  src-tauri/migrations/2026-09-17-194313_add_workout_templates/down.sql
  src-tauri/migrations/2026-09-17-194313_add_workout_templates/up.sql
  src-tauri/src/db/schema.rs
Due: rust

feat(templates): add template CRUD and delete guards; swap while preserving position
  openspec/changes/add-workout-templates/tasks.md
  src-tauri/src/lib.rs
  src-tauri/src/service/workout.rs
  src-tauri/tests/cmd/mod.rs
Due: rust

chore(deps-dev): bump @vitest/coverage-v8 from 4.1.11 to 5.0.1
  package-lock.json
  package.json
Due: none

chore(dev-deps): sync lockfile
  package-lock.json
Due: none

chore(deps): sync package-lock.json with CI npm 10.9.8
  package-lock.json
Due: none

fix(tests): register shared veilchen mock at module top level for vitest 5
  src/lib/component/intake/IntakeStack.test.ts
  src/lib/component/journey/EncouragementMessage.test.ts
  src/lib/component/journey/UserProfileCard.test.ts
  src/lib/component/journey/WeightGoalsCard.test.ts
  tests/utils/mocks.ts
Due: none

feat(templates): add template/empty workout selection to workout start
  openspec/changes/add-workout-templates/tasks.md
  src-tauri/src/lib.rs
  src-tauri/tests/cmd/test_template_cmd.rs
  src/lib/api/report-error.ts
  src/lib/component/settings/Settings.svelte
  src/lib/component/workout/ExerciseFormModal.svelte
  src/lib/component/workout/ExerciseFormModal.svelte.test.ts
  src/lib/component/workout/ExerciseQuickFix.svelte
  src/lib/component/workout/StartWorkoutSheet.svelte
  src/lib/component/workout/StartWorkoutSheet.svelte.test.ts
  src/lib/component/workout/TemplateFormModal.svelte
  src/lib/component/workout/TemplateFormModal.svelte.test.ts
  src/lib/workout/workout-state.svelte.ts
  src/routes/(app)/+page.svelte
  src/routes/(app)/templates/+page.svelte
  src/routes/(app)/templates/page.test.ts
Due: rust, svelte

feat(templates): allow adding sets to predefined exercises
  src-tauri/src/service/workout.rs
  src-tauri/tests/cmd/test_template_cmd.rs
  src/lib/component/workout/WorkoutOverlay.svelte
Due: rust, svelte
