Repository thwbh/librefit: changes, and which Codecov flags are due for each by the changed paths.
All: rust, svelte

bump tauri-typegen to 0.3.3
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: rust

bump tauri-typegen to 0.3.4
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: rust

fix edge case in WeightScore display
  src/lib/component/weight/WeightScore.svelte
Due: svelte

wizard type coercion (#185)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src/lib/component/weight/WeightScore.svelte
Due: rust, svelte

bump tauri-typegen to 0.4.0
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: rust

fix enum values
  src/lib/component/intake/IntakeMask.test.ts
  src/lib/component/intake/IntakeStack.test.ts
  src/lib/component/weight/WeightScore.test.ts
  src/lib/component/wizard/body/Report.svelte
  src/lib/enum.ts
  src/routes/(app)/export/+page.svelte
  src/routes/(app)/import/+page.svelte
Due: svelte

25.51 (#186)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src/lib/component/intake/IntakeMask.test.ts
  src/lib/component/intake/IntakeStack.test.ts
  src/lib/component/weight/WeightScore.svelte
  src/lib/component/weight/WeightScore.test.ts
  src/lib/component/wizard/body/Report.svelte
  src/lib/enum.ts
  src/routes/(app)/+page.svelte
  src/routes/(app)/export/+page.svelte
  src/routes/(app)/import/+page.svelte
Due: rust, svelte

fix typo
  src-tauri/src/lib.rs
  src-tauri/src/service/body.rs
Due: rust

add tauri-store plugin
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
Due: rust

add tauri-store dependency
  package-lock.json
  package.json
Due: none

fix tests relying on hardcoded dates in the future
  src-tauri/tests/cmd/test_progress_cmd.rs
Due: rust

fix android app version getting lost
  .github/workflows/android-release.yml
  .github/workflows/cd.yml
Due: none

fix date based test issues
  src-tauri/tests/cmd/test_progress_cmd.rs
Due: rust

fix android app version getting lost (#192)
  .github/workflows/android-release.yml
  .github/workflows/cd.yml
Due: none

fix semver compliance [skip ci]
  .github/scripts/generate-version.sh
  .github/workflows/cd.yml
Due: none

fix semver compliance [skip ci] (#194)
  .github/scripts/generate-version.sh
  .github/workflows/cd.yml
Due: none

ensure empty gen/ folder [skip ci]
  .github/workflows/android-release.yml
  .github/workflows/cd.yml
Due: none

ensure empty gen/ folder [skip ci] (#195)
  .github/workflows/android-release.yml
  .github/workflows/cd.yml
Due: none

update logo and app icons
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/64x64.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/app-icon-bg.png
  src-tauri/icons/app-icon-fg.png
  src-tauri/icons/app-icon.png
  src-tauri/icons/icon-original.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/icons/ios/AppIcon-20x20@1x.png
  src-tauri/icons/ios/AppIcon-20x20@2x-1.png
  src-tauri/icons/ios/AppIcon-20x20@2x.png
  src-tauri/icons/ios/AppIcon-20x20@3x.png
  src-tauri/icons/ios/AppIcon-29x29@1x.png
  src-tauri/icons/ios/AppIcon-29x29@2x-1.png
  src-tauri/icons/ios/AppIcon-29x29@2x.png
  src-tauri/icons/ios/AppIcon-29x29@3x.png
  src-tauri/icons/ios/AppIcon-40x40@1x.png
  src-tauri/icons/ios/AppIcon-40x40@2x-1.png
  src-tauri/icons/ios/AppIcon-40x40@2x.png
  src-tauri/icons/ios/AppIcon-40x40@3x.png
  src-tauri/icons/ios/AppIcon-512@2x.png
  src-tauri/icons/ios/AppIcon-60x60@2x.png
  src-tauri/icons/ios/AppIcon-60x60@3x.png
  src-tauri/icons/ios/AppIcon-76x76@1x.png
  src-tauri/icons/ios/AppIcon-76x76@2x.png
  src-tauri/icons/ios/AppIcon-83.5x83.5@2x.png
Due: rust

update veilchen to 0.2.2
  package-lock.json
  package.json
Due: none

add icon manifest
  src-tauri/icon-manifest.json
Due: rust

update logo references and colors
  src/lib/activity.ts
  src/lib/assets/logo/librefit-app-logo@256x256.png
  src/lib/assets/logo/librefit-logo@256x256.png
  src/lib/assets/logo/librefit-logo@512x512.png
  src/lib/component/intake/IntakeStack.svelte
  src/lib/component/journey/EncouragementMessage.svelte
  src/lib/component/journey/TimelineCard.svelte
  src/lib/component/profile/BodyDataDisplay.svelte
  src/lib/component/wizard/SetupComplete.svelte
  src/lib/component/wizard/activity/ActivityLevel.svelte
  src/lib/component/wizard/body/Report.svelte
  src/lib/component/wizard/targets/Rate.svelte
  src/lib/component/wizard/targets/TargetWeight.svelte
  src/routes/(app)/about/+page.svelte
  src/routes/(app)/export/+page.svelte
  src/routes/(app)/import/+page.svelte
  src/routes/(app)/progress/+page.svelte
  src/routes/welcome/+page.svelte
  src/style.css
Due: svelte

update test cases
  src/lib/component/journey/TimelineCard.test.ts
  tests/lib/activity.test.ts
Due: none

update activity level and rate colors
  src/lib/activity.ts
  src/lib/component/wizard/targets/Rate.svelte
  tests/lib/activity.test.ts
Due: svelte

update veilchen to 0.2.3
  package-lock.json
  package.json
Due: none

redesign category picker
  src/lib/component/intake/IntakeMask.svelte
Due: svelte

move category icons to category.ts
  src/lib/api/category.ts
  src/lib/component/intake/IntakeMask.svelte
  src/lib/component/intake/IntakeStack.svelte
Due: svelte

update colors; restructure dashboard
  src/lib/component/journey/CaloriePlanCard.svelte
  src/lib/component/weight/WeightScore.svelte
  src/lib/component/weight/WeightScore.test.ts
  src/routes/(app)/+page.svelte
  src/routes/(app)/history/+page.svelte
Due: svelte

move journey review to dashboard section
  src/routes/(app)/+page.svelte
  src/routes/(app)/review/+page.svelte
  src/routes/(app)/review/+page.ts
Due: svelte

restructure journey review components
  src/lib/component/intake/IntakeMask.test.ts
  src/lib/component/journey/CaloriePlanCard.svelte
  src/lib/component/journey/CaloriePlanCard.test.ts
  src/lib/component/journey/EncouragementMessage.svelte
  src/lib/component/journey/EncouragementMessage.test.ts
  src/lib/component/journey/JourneyTimeline.svelte
  src/lib/component/journey/JourneyTimeline.test.ts
  src/lib/component/journey/UserProfileCard.svelte
  src/lib/store.ts
Due: svelte

display target and actual average as progress bars
  src/lib/component/journey/CaloriePlanCard.svelte
Due: svelte

clean up calorie plan
  src/lib/component/journey/CaloriePlanCard.svelte
Due: svelte

return category shortvalue for chart data instead of longvalue
  src-tauri/src/service/progress.rs
Due: rust

restructure progress page
  src/routes/(app)/progress/+page.svelte
Due: svelte

Path conditions:
  rust: any of: src-tauri/, but not: src-tauri/target, src-tauri/migrations, src/lib/api/gen, tests, **/*.test.ts, **/*.test.svelte
  svelte: any of: src/, but not: src-tauri/target, src-tauri/migrations, src/lib/api/gen, tests, **/*.test.ts, **/*.test.svelte
