Repository thwbh/librefit: changes, and which Codecov flags are due for each by the changed paths.
All: rust, svelte

set APK and AAB build flags to 'true'
  .github/workflows/android-release.yml
Due: none

pin tauri plugin versions to npm and cargo
  .github/workflows/android-release.yml
  package-lock.json
  package.json
  src-tauri/Cargo.toml
Due: rust

pin tauri plugin versions to npm and cargo (#170)
  package-lock.json
  package.json
  src-tauri/Cargo.toml
Due: rust

invoke tauri-typegen before vite build
  .github/workflows/android-release.yml
  src-tauri/tauri.conf.json
Due: rust

attach artifacts to release
  .github/scripts/generate-version.sh
  .github/workflows/android-release.yml
Due: none

ensure rust code compiles before android build
  .github/workflows/android-release.yml
Due: none

change tauri-typegen target folder for build
  src-tauri/tauri.conf.json
Due: rust

use more robust android build setup
  .github/scripts/generate-version.sh
  .github/workflows/android-release.yml
  src-tauri/android-templates/build.gradle.kts
Due: rust

set apk and aab flags
  .github/workflows/android-release.yml
Due: none

fix android release pipeline
  .github/workflows/android-release.yml
Due: none

force specifc NDK version during build
  .github/workflows/android-release.yml
  src-tauri/android-templates/setup-android.sh
Due: rust

install NDK 29.x during build
  .github/workflows/android-release.yml
Due: none

apply linker fix in build.rs to multiple target architectures
  src-tauri/build.rs
Due: rust

remove custom linker setting for CI
  .github/workflows/android-release.yml
  src-tauri/build.rs
Due: rust

propagate NDK version to build.gradle.kts
  .github/workflows/android-release.yml
  src-tauri/android-templates/setup-android.sh
Due: rust

another attempt at fixing my life
  .github/workflows/android-release.yml
Due: none

pin tauri-cli version in workflow; add dependency for enableEdgeToEdge
  .github/workflows/android-release.yml
  src-tauri/android-templates/build.gradle.kts
Due: rust

bump tauri-cli version to 2.9.5 for local and CI
  .github/workflows/android-release.yml
  src-tauri/android-templates/build.gradle.kts
Due: rust

fix file picker for mobile
  src/routes/(app)/import/+page.svelte
Due: svelte

generate android icons during build
  .github/workflows/android-release.yml
Due: none

fix icon for release
  src-tauri/icon-manifest.json
  src-tauri/icons/icon.png
  src-tauri/src/service/import/mod.rs
Due: rust

rename built APK with version info
  .github/workflows/android-release.yml
Due: none

reset tauri-typegen path; set CI working directory for typegen
  .github/workflows/android-release.yml
  src-tauri/tauri.conf.json
Due: rust

delivery fixes (#171)
  .github/scripts/generate-version.sh
  .github/workflows/android-release.yml
  src-tauri/android-templates/build.gradle.kts
  src-tauri/android-templates/setup-android.sh
  src-tauri/build.rs
  src-tauri/icon-manifest.json
  src-tauri/icons/icon.png
  src-tauri/src/service/import/mod.rs
  src-tauri/tauri.conf.json
  src/routes/(app)/import/+page.svelte
Due: rust, svelte

make version updater less greedy [skip ci]
  .github/workflows/cd.yml
Due: none

make version updater less greedy [skip ci] (#172)
  .github/workflows/cd.yml
Due: none

rust/tauri require 3-segment version [skip ci]
  .github/scripts/generate-version.sh
Due: none

rust/tauri require 3-segment version [skip ci] (#173)
  .github/scripts/generate-version.sh
Due: none

set project root as working-directory for full build [skip ci]
  .github/workflows/android-release.yml
  .github/workflows/cd.yml
Due: none

set project root as working-directory for full build [skip ci] (#174)
  .github/workflows/android-release.yml
  .github/workflows/cd.yml
Due: none

change version field to input type in bug report template [skip ci]
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

change version field to input type in bug report template [skip ci] (#175)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

add missing permissions to read content:// android file URI
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/service/import/mod.rs
Due: rust

fix error message overflow in export, import
  src/routes/(app)/export/+page.svelte
  src/routes/(app)/import/+page.svelte
Due: svelte

add 'Data Import' to issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/update-issue-template.yml
Due: none

update changelog
  CHANGELOG.md
Due: none

25.49.1 (#179)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/update-issue-template.yml
  CHANGELOG.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/service/import/mod.rs
  src/routes/(app)/export/+page.svelte
  src/routes/(app)/import/+page.svelte
Due: rust, svelte

fix stale weight update message
  src/lib/component/weight/WeightScore.svelte
  src/routes/(app)/+page.svelte
Due: svelte

clean up unused props in WeightScore
  src/lib/component/weight/WeightScore.svelte
  src/lib/component/weight/WeightScore.test.ts
  src/routes/(app)/+page.svelte
Due: svelte

fix stale weight update message (#183)
  src/lib/component/weight/WeightScore.svelte
  src/lib/component/weight/WeightScore.test.ts
  src/routes/(app)/+page.svelte
Due: svelte

Path conditions:
  rust: any of: src-tauri/, but not: src-tauri/target, src-tauri/migrations, src/lib/api/gen, tests, **/*.test.ts, **/*.test.svelte
  svelte: any of: src/, but not: src-tauri/target, src-tauri/migrations, src/lib/api/gen, tests, **/*.test.ts, **/*.test.svelte
