Repository thwbh/librefit: changes, and which Codecov flags are due for each by the changed paths.
All: rust, svelte

chore(tests): colocate frontend tests
  CLAUDE.md
  src/lib/api/category.test.ts
  src/lib/api/target.test.ts
  src/lib/composition/useEntryModal.test.ts
  src/lib/date.test.ts
  src/lib/enum.test.ts
  src/routes/(app)/about/page.test.ts
  src/routes/(app)/import/page.test.ts
  src/routes/(app)/layout.test.ts
  src/routes/(app)/profile/page.test.ts
  src/routes/(app)/progress/page.test.ts
  src/routes/(app)/wizard/page.test.ts
  src/routes/error.test.ts
  src/routes/welcome/page.test.ts
  tests/lib/component/Body.test.ts
  tests/lib/enum.spec.ts
Due: none

chore(tests): cite scenario id in existing tests
  CLAUDE.md
  openspec/changes/backfill-test-citations/.openspec.yaml
  openspec/changes/backfill-test-citations/README.md
  openspec/changes/backfill-test-citations/proposal.md
  openspec/changes/backfill-test-citations/tasks.md
  openspec/config.yaml
  openspec/specs/_conv-test-traceability/spec.md
  src-tauri/tests/cmd/test_export_cmd.rs
  src-tauri/tests/cmd/test_import_cmd.rs
  src-tauri/tests/cmd/test_intake_cmd.rs
  src-tauri/tests/cmd/test_progress_cmd.rs
  src-tauri/tests/cmd/test_tracker_history_cmd.rs
  src-tauri/tests/cmd/test_user_cmd.rs
  src-tauri/tests/cmd/test_weight_cmd.rs
  src-tauri/tests/cmd/test_wizard_cmd.rs
  src-tauri/tests/repo/test_intake_repo.rs
  src-tauri/tests/repo/test_weight_repo.rs
  src/lib/component/intake/IntakeMask.test.ts
  src/lib/component/intake/IntakeScore.test.ts
  src/lib/component/intake/IntakeStack.test.ts
  src/lib/component/journey/EncouragementMessage.test.ts
  src/lib/component/profile/AvatarPickerContent.test.ts
  src/lib/component/profile/UserAvatar.test.ts
  src/lib/component/weight/WeightScore.test.ts
Due: rust

chore(wizard): add follow-up scenario gap
  openspec/changes/refactor-extract-testable-units/proposal.md
Due: none

chore(intake): archive specs
  openspec/changes/archive/2026-05-26-add-intake-time-based-default-category/.openspec.yaml
  openspec/changes/archive/2026-05-26-add-intake-time-based-default-category/design.md
  openspec/changes/archive/2026-05-26-add-intake-time-based-default-category/proposal.md
  openspec/changes/archive/2026-05-26-add-intake-time-based-default-category/specs/intake-tracking/spec.md
  openspec/changes/archive/2026-05-26-add-intake-time-based-default-category/tasks.md
  openspec/specs/intake-tracking/spec.md
Due: none

feat(tests): add Rust integration tests for boundary, format, defaulting scenarios
  scripts/check-spec-traceability.sh
  src-tauri/tests/cmd/test_intake_cmd.rs
  src-tauri/tests/cmd/test_weight_cmd.rs
  src-tauri/tests/cmd/test_wizard_cmd.rs
  src-tauri/tests/repo/test_intake_repo.rs
Due: rust

refactor(export): extract ExportProgressModal; show in-progress stage icon (skip terminals)
  src/lib/component/export/ExportProgressModal.svelte
  src/lib/component/export/ExportProgressModal.svelte.test.ts
Due: svelte

distribute spec scenario ids
  CLAUDE.md
  openspec/changes/archive/2026-05-25-reconcile-specs-from-use-cases/.openspec.yaml
  openspec/changes/archive/2026-05-25-reconcile-specs-from-use-cases/README.md
  openspec/changes/archive/2026-05-25-reconcile-specs-from-use-cases/design.md
  openspec/changes/archive/2026-05-25-reconcile-specs-from-use-cases/proposal.md
  openspec/changes/archive/2026-05-25-reconcile-specs-from-use-cases/tasks.md
  openspec/config.yaml
  openspec/specs/_conv-animations/spec.md
  openspec/specs/_conv-empty-states/spec.md
  openspec/specs/_conv-gestures/spec.md
  openspec/specs/_conv-modals/spec.md
  openspec/specs/_conv-progress-stages/spec.md
  openspec/specs/_conv-user-errors/spec.md
  openspec/specs/_conv-validation/spec.md
  openspec/specs/app-shell/spec.md
  openspec/specs/data-export/spec.md
  openspec/specs/data-import/spec.md
  openspec/specs/history/spec.md
  openspec/specs/intake-tracking/spec.md
  openspec/specs/onboarding/spec.md
  openspec/specs/plan-review/spec.md
  openspec/specs/profile/spec.md
  openspec/specs/progress/spec.md
  openspec/specs/weight-tracking/spec.md
Due: none

fix(intake): auto pick category based on current time
  openspec/changes/add-intake-time-based-default-category/.openspec.yaml
  openspec/changes/add-intake-time-based-default-category/design.md
  openspec/changes/add-intake-time-based-default-category/proposal.md
  openspec/changes/add-intake-time-based-default-category/specs/intake-tracking/spec.md
  openspec/changes/add-intake-time-based-default-category/tasks.md
  openspec/config.yaml
  src/lib/api/category.ts
  src/routes/(app)/+page.svelte
  tests/lib/api/category.spec.ts
Due: svelte

refactor(export): extract ExportProgressModal; wire previously-dead stage icon
  openspec/changes/refactor-extract-testable-units/tasks.md
  src/lib/component/export/ExportProgressModal.svelte
  src/lib/component/export/ExportProgressModal.svelte.test.ts
  src/routes/(app)/export/+page.svelte
Due: svelte

consolidate docs; retrofit specs
  CLAUDE.md
  docs/ANDROID_CD_SETUP.md
  docs/FDROID_SUBMISSION.md
  docs/FOOD_LIBRARY_NLP.md
  docs/release.md
  openspec/changes/conv-e2e-tests/.openspec.yaml
  openspec/config.yaml
  openspec/specs/_conv-animations/spec.md
  openspec/specs/_conv-empty-states/spec.md
  openspec/specs/_conv-gestures/spec.md
  openspec/specs/_conv-modals/spec.md
  openspec/specs/_conv-progress-stages/spec.md
  openspec/specs/_conv-user-errors/spec.md
  openspec/specs/_conv-validation/spec.md
  openspec/specs/app-shell/spec.md
  openspec/specs/data-export/spec.md
  openspec/specs/data-import/spec.md
  openspec/specs/history/spec.md
  openspec/specs/intake-tracking/spec.md
  openspec/specs/onboarding/spec.md
  openspec/specs/plan-review/spec.md
  openspec/specs/profile/spec.md
  openspec/specs/progress/spec.md
  openspec/specs/weight-tracking/spec.md
Due: none

feat(wizard): extract deriveStep4Title + performSetup into testable units
  openspec/changes/refactor-extract-testable-units/.openspec.yaml
  openspec/changes/refactor-extract-testable-units/design.md
  openspec/changes/refactor-extract-testable-units/proposal.md
  openspec/changes/refactor-extract-testable-units/specs/README.md
  openspec/changes/refactor-extract-testable-units/tasks.md
  src/lib/component/wizard/Setup.svelte
  src/lib/component/wizard/setup-orchestration.test.ts
  src/lib/component/wizard/setup-orchestration.ts
  src/lib/component/wizard/title.test.ts
  src/lib/component/wizard/title.ts
  src/routes/(app)/wizard/+page.svelte
Due: svelte

feat(modals): defer-until-attempt validation contract; shake on invalid submit; introduce useFieldValidity composable
  openspec/changes/refactor-extract-testable-units/proposal.md
  openspec/changes/refactor-extract-testable-units/specs/README.md
  openspec/changes/refactor-extract-testable-units/specs/_conv-validation/spec.md
  openspec/changes/refactor-extract-testable-units/specs/weight-tracking/spec.md
  openspec/changes/refactor-extract-testable-units/tasks.md
  src/lib/component/profile/ProfileEditModal.svelte
  src/lib/component/profile/ProfileEditModal.svelte.test.ts
  src/lib/component/weight/WeightModal.svelte
  src/lib/component/weight/WeightModal.svelte.test.ts
  src/lib/composition/useFieldValidity.svelte.ts
  src/lib/composition/useFieldValidity.test.ts
  src/routes/(app)/+page.svelte
  src/routes/(app)/history/+page.svelte
Due: svelte

chore(onboarding): define changes for wizard step 1 validator behavior
  openspec/changes/gate-wizard-step1-on-field-validity/.openspec.yaml
  openspec/changes/gate-wizard-step1-on-field-validity/design.md
  openspec/changes/gate-wizard-step1-on-field-validity/proposal.md
  openspec/changes/gate-wizard-step1-on-field-validity/specs/onboarding/spec.md
  openspec/changes/gate-wizard-step1-on-field-validity/tasks.md
Due: none

chore(traceability): formulate follow-up changes in regard to cross-app loading indication and atomic data changes
  openspec/changes/refactor-extract-testable-units/proposal.md
Due: none

add playwright dependency for e2e tests
  .github/workflows/ci.yml
  openspec/changes/conv-e2e-tests/design.md
  openspec/changes/conv-e2e-tests/proposal.md
  openspec/changes/conv-e2e-tests/specs/_conv-e2e-tests/spec.md
  openspec/changes/conv-e2e-tests/tasks.md
  package-lock.json
  package.json
  playwright.config.ts
Due: none

add first batch of e2e tests
  e2e/README.md
  e2e/fixtures/app.ts
  e2e/fixtures/db.ts
  e2e/fixtures/seed.ts
  e2e/pages/dashboard.ts
  e2e/pages/profile.ts
  e2e/pages/progress.ts
  e2e/pages/welcome.js
  e2e/pages/welcome.ts
  e2e/specs/_smoke.spec.ts
  e2e/specs/app-shell.spec.ts
  e2e/specs/data-export.spec.ts
  e2e/specs/data-import.spec.ts
  e2e/specs/history.spec.ts
  e2e/specs/intake-tracking.spec.ts
  e2e/specs/onboarding.spec.js
  e2e/specs/onboarding.spec.ts
  e2e/specs/plan-review.spec.ts
  e2e/specs/profile.spec.ts
  e2e/specs/progress.spec.ts
  e2e/specs/weight-tracking.spec.ts
  src-tauri/Cargo.toml
  src-tauri/src/cmd/mod.rs
  src-tauri/src/cmd/seed.rs
  src-tauri/src/lib.rs
Due: rust

refactor(profile): extract ProfileEditModal; gate Save on nickname bounds (PF-010)
  openspec/changes/refactor-extract-testable-units/tasks.md
  src/lib/component/profile/ProfileEditModal.svelte
  src/lib/component/profile/ProfileEditModal.svelte.test.ts
  src/routes/(app)/profile/+page.svelte
Due: svelte

test(traceability): backfill Vitest citations for shipped UI behavior; add jsdom polyfills
  openspec/changes/backfill-test-citations/tasks.md
  src/lib/component/settings/Settings.svelte.test.ts
  src/lib/component/wizard/activity/ActivityLevel.svelte.test.ts
  src/lib/component/wizard/body/Body.svelte.test.ts
  src/routes/(app)/+layout.test.ts
  src/routes/(app)/about/+page.test.ts
  src/routes/(app)/import/+page.test.ts
  src/routes/(app)/profile/+page.test.ts
  src/routes/(app)/progress/+page.test.ts
  src/routes/(app)/wizard/+page.test.ts
  src/routes/+error.test.ts
  src/routes/welcome/+page.test.ts
  tests/setup.ts
  tests/utils/TestWrapper.svelte
Due: none

feat(wizard): gate Step 1 advance on Zod validation; surface per-field errors after attempt
  openspec/changes/archive/2026-05-27-gate-wizard-step1-on-field-validity/.openspec.yaml
  openspec/changes/archive/2026-05-27-gate-wizard-step1-on-field-validity/design.md
  openspec/changes/archive/2026-05-27-gate-wizard-step1-on-field-validity/proposal.md
  openspec/changes/archive/2026-05-27-gate-wizard-step1-on-field-validity/specs/onboarding/spec.md
  openspec/changes/archive/2026-05-27-gate-wizard-step1-on-field-validity/tasks.md
  openspec/changes/gate-wizard-step1-on-field-validity/tasks.md
  openspec/specs/onboarding/spec.md
  src-tauri/src/service/user.rs
  src-tauri/tests/cmd/test_user_cmd.rs
  src/lib/component/wizard/Setup.svelte
  src/lib/component/wizard/Setup.svelte.test.ts
  src/lib/component/wizard/body/Body.svelte
  src/lib/store.ts
Due: rust, svelte

chore(tests): silence jsdom navigation warning by canceling anchor clicks in setup
  tests/setup.ts
Due: none

refactor(dashboard): extract IntakeFab for test coverage
  openspec/changes/refactor-extract-testable-units/tasks.md
  src/lib/component/intake/IntakeFab.svelte
  src/lib/component/intake/IntakeFab.svelte.test.ts
  src/routes/(app)/+page.svelte
Due: svelte

refactor(intake): trash-toggle + readonly full-form variant; history drops edit-modal trash
  openspec/changes/refactor-extract-testable-units/tasks.md
  src/lib/component/intake/IntakeMask.svelte
  src/lib/component/intake/IntakeMask.test.ts
  src/lib/component/intake/IntakeModal.svelte
  src/lib/component/intake/IntakeModal.svelte.test.ts
  src/lib/component/intake/IntakeStack.svelte
  src/lib/composition/useEntryModal.svelte.ts
  src/lib/composition/useEntryModal.test.ts
  src/routes/(app)/+page.svelte
  src/routes/(app)/history/+page.svelte
Due: svelte

refactor(validation): drive modal validation from generated Zod schemas (VAL-014)
  src/lib/component/profile/ProfileEditModal.svelte
  src/lib/component/profile/ProfileEditModal.svelte.test.ts
  src/lib/component/weight/WeightModal.svelte
  src/lib/component/weight/WeightModal.svelte.test.ts
  src/lib/composition/useFieldValidity.svelte.ts
  src/lib/composition/useFieldValidity.test.ts
Due: svelte

refactor(dashboard): extract IntakeModal for test coverage
  openspec/changes/refactor-extract-testable-units/tasks.md
  src/lib/component/intake/IntakeModal.svelte
  src/lib/component/intake/IntakeModal.svelte.test.ts
  src/routes/(app)/+page.svelte
Due: svelte

chore(openspec): propose add-convention-lint-rules follow-up (VAL-015/016)
  openspec/changes/add-convention-lint-rules/proposal.md
  openspec/changes/add-convention-lint-rules/specs/_conv-validation/spec.md
Due: none

test(traceability): cite AS-001/AS-009 wiring; exclude TRC meta from gate; scope add-toast-emission-tests for ERR
  openspec/changes/add-toast-emission-tests/proposal.md
  openspec/changes/refactor-extract-testable-units/tasks.md
  scripts/check-spec-traceability.sh
  src/routes/(app)/layout.render.test.ts
  src/routes/(app)/page.test.ts
Due: none

chore(traceability): mark dashboard related openspec task as complete
  openspec/changes/refactor-extract-testable-units/tasks.md
Due: none

fix(intake): reset validity on modal reopen + null-source skip; add fieldset disabling for delete view
  openspec/changes/refactor-extract-testable-units/tasks.md
  src/lib/component/history/HistoryWeek.svelte
  src/lib/component/history/HistoryWeek.svelte.test.ts
  src/lib/component/intake/IntakeMask.svelte
  src/lib/component/intake/IntakeMask.test.ts
  src/lib/component/intake/IntakeModal.svelte
  src/lib/component/intake/IntakeModal.svelte.test.ts
  src/lib/component/profile/ProfileEditModal.svelte
  src/lib/component/weight/WeightModal.svelte
  src/lib/composition/useFieldValidity.svelte.ts
  src/lib/composition/useFieldValidity.test.ts
  src/routes/(app)/history/+page.svelte
Due: svelte

chore(traceability): add toast emission tests for errors
  openspec/changes/archive/2026-05-28-add-toast-emission-tests/design.md
  openspec/changes/archive/2026-05-28-add-toast-emission-tests/proposal.md
  openspec/changes/archive/2026-05-28-add-toast-emission-tests/tasks.md
  src/lib/api/command-hooks.test.ts
  src/lib/api/command-hooks.ts
  src/routes/(app)/layout.render.test.ts
Due: svelte

chore(traceability): backfill citations
  openspec/changes/refactor-extract-testable-units/tasks.md
  src-tauri/tests/cmd/test_weight_cmd.rs
  src/lib/component/history/HistoryDayCard.svelte.test.ts
  src/lib/component/history/HistoryWeek.svelte.test.ts
  src/lib/component/intake/IntakeModal.svelte.test.ts
  src/lib/component/intake/IntakeStack.test.ts
  src/lib/component/settings/Settings.svelte.test.ts
  src/lib/composition/useEntryModal.test.ts
  src/lib/gesture/long-press.test.ts
  src/routes/(app)/history/page.load.test.ts
  src/routes/(app)/history/page.test.ts
  src/routes/(app)/layout.render.test.ts
  src/routes/(app)/page.load.test.ts
Due: rust

refactor(dashboard): extract PlanReviewPanel for coverage
  openspec/changes/refactor-extract-testable-units/tasks.md
  src/lib/component/dashboard/PlanReviewPanel.svelte
  src/lib/component/dashboard/PlanReviewPanel.svelte.test.ts
  src/routes/(app)/+page.svelte
Due: svelte

chore(traceability): backfill test citations
  openspec/changes/archive/2026-05-28-backfill-test-citations/.openspec.yaml
  openspec/changes/archive/2026-05-28-backfill-test-citations/README.md
  openspec/changes/archive/2026-05-28-backfill-test-citations/proposal.md
  openspec/changes/archive/2026-05-28-backfill-test-citations/tasks.md
  src-tauri/tests/cmd/test_intake_cmd.rs
  src-tauri/tests/cmd/test_wizard_cmd.rs
Due: rust

refactor(history): extract HistoryDayCard for coverage
  openspec/changes/refactor-extract-testable-units/tasks.md
  src/lib/component/history/HistoryDayCard.svelte
  src/lib/component/history/HistoryDayCard.svelte.test.ts
  src/routes/(app)/history/+page.svelte
Due: svelte

chore(openspec): archive refactor-extract-testable-units; reconcile backfill
  openspec/changes/archive/2026-05-28-refactor-extract-testable-units/.openspec.yaml
  openspec/changes/archive/2026-05-28-refactor-extract-testable-units/design.md
  openspec/changes/archive/2026-05-28-refactor-extract-testable-units/proposal.md
  openspec/changes/archive/2026-05-28-refactor-extract-testable-units/specs/_conv-validation/spec.md
  openspec/changes/archive/2026-05-28-refactor-extract-testable-units/specs/weight-tracking/spec.md
  openspec/changes/archive/2026-05-28-refactor-extract-testable-units/tasks.md
  openspec/changes/backfill-test-citations/tasks.md
  openspec/specs/_conv-validation/spec.md
  openspec/specs/weight-tracking/spec.md
Due: none

chore(conventions): add convention lint gate; port traceability check bash -> node
  .github/workflows/ci.yml
  .gitignore
  docs/FDROID_SUBMISSION.md
  docs/FOOD_LIBRARY_NLP.md
  docs/android_cd.md
  eslint.config.js
  eslint.conventions.config.js
  openspec/changes/archive/2026-05-28-add-convention-lint-rules/design.md
  openspec/changes/archive/2026-05-28-add-convention-lint-rules/proposal.md
  openspec/changes/archive/2026-05-28-add-convention-lint-rules/specs/_conv-validation/spec.md
  openspec/changes/archive/2026-05-28-add-convention-lint-rules/tasks.md
  openspec/specs/_conv-test-traceability/spec.md
  openspec/specs/_conv-validation/spec.md
  package.json
  scripts/check-spec-ids.mjs
  scripts/check-spec-traceability.mjs
  scripts/check-spec-traceability.sh
  scripts/check-test-layout.mjs
  src-tauri/src/test_support.rs
  tools/README.md
  tools/eslint-plugin-librefit/index.js
  tools/eslint-plugin-librefit/validation-from-schema.js
  tools/eslint-plugin-librefit/validation-from-schema.test.ts
Due: rust

feat(workout): formulate new feature specs for workout tracking
  openspec/changes/add-dashboard-workout-tracking/.openspec.yaml
  openspec/changes/add-dashboard-workout-tracking/README.md
  openspec/changes/add-dashboard-workout-tracking/design.md
  openspec/changes/add-dashboard-workout-tracking/proposal.md
  openspec/changes/add-dashboard-workout-tracking/specs/dashboard/spec.md
  openspec/changes/add-dashboard-workout-tracking/specs/workout-tracking/spec.md
  openspec/changes/add-dashboard-workout-tracking/tasks.md
Due: none

feat(workout): backend for workout tracking — migration, models, metric payload, repo, commands + tests
  CLAUDE.md
  openspec/changes/add-dashboard-workout-tracking/tasks.md
  src-tauri/migrations/2026-05-31-180000_add_workout_tracking/down.sql
  src-tauri/migrations/2026-05-31-180000_add_workout_tracking/up.sql
  src-tauri/src/db/schema.rs
  src-tauri/src/lib.rs
  src-tauri/src/service/mod.rs
  src-tauri/src/service/workout.rs
  src-tauri/tests/cmd/mod.rs
  src-tauri/tests/cmd/test_workout_cmd.rs
  src-tauri/tests/repo/mod.rs
  src-tauri/tests/repo/test_workout_metrics.rs
Due: rust

feat(workout): live workout overlay + adaptive dashboard morph
  src/lib/component/dashboard/CollapsibleCard.svelte
  src/lib/component/dashboard/DashboardLayout.svelte
  src/lib/component/dashboard/DashboardLayout.svelte.test.ts
  src/lib/component/dashboard/WorkoutModule.svelte
  src/lib/component/workout/ExercisePicker.svelte
  src/lib/component/workout/RestTimer.svelte
  src/lib/component/workout/SetMask.svelte
  src/lib/component/workout/SlideToConfirm.svelte
  src/lib/component/workout/SlideToConfirm.svelte.test.ts
  src/lib/component/workout/WorkoutOverlay.svelte
  src/lib/component/workout/WorkoutSummary.svelte
  src/lib/workout/metrics.test.ts
  src/lib/workout/metrics.ts
  src/lib/workout/workout-state.svelte.test.ts
  src/lib/workout/workout-state.svelte.ts
  src/routes/(app)/+page.svelte
Due: svelte

refactor(workout): fullscreen overlay, searchable exercise picker, swipe-to-edit/delete sets
  src/lib/component/workout/ExercisePicker.svelte
  src/lib/component/workout/WorkoutOverlay.svelte
Due: svelte

Path conditions:
  rust: any of: src-tauri/, but not: src-tauri/target, src-tauri/migrations, src/lib/api/gen, tests, **/*.test.ts, **/*.test.svelte
  svelte: any of: src/, but not: src-tauri/target, src-tauri/migrations, src/lib/api/gen, tests, **/*.test.ts, **/*.test.svelte
