Repository thwbh/librefit: changes, and which Codecov flags are due for each by the changed paths.
All: rust, svelte

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

flags:
  rust:
    paths:
      - src-tauri/
    carryforward: true
  svelte:
    paths:
      - src/
    carryforward: true

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "src-tauri/target"
  - "src-tauri/migrations"
  - "src/lib/api/gen"
  - "tests"
  - "**/*.test.ts"
  - "**/*.test.svelte"

update vitest tests
  src/lib/component/journey/CaloriePlanCard.test.ts
Due: none

update history colors; allow adding/editing weight tracker entries in history
  src/routes/(app)/history/+page.svelte
Due: svelte

display tracked category overview and empty section in history page
  src/routes/(app)/history/+page.svelte
Due: svelte

replace settings icon
  src/lib/component/navigation/HistoryIcon.svelte
  src/lib/component/navigation/JournalIcon.svelte
  src/lib/component/navigation/ProgressIcon.svelte
  src/lib/component/navigation/SettingsIcon.svelte
  src/routes/(app)/+layout.svelte
  src/routes/(app)/+page.svelte
  src/routes/(app)/about/+page.svelte
  src/routes/(app)/export/+page.svelte
  src/routes/(app)/import/+page.svelte
  src/routes/(app)/profile/+page.svelte
  src/routes/(app)/progress/+page.svelte
  src/routes/(app)/wizard/+page.svelte
Due: svelte

conditionally show maximum calories and avg. intake depending on view
  src/lib/component/journey/CaloriePlanCard.svelte
  src/lib/component/wizard/Finish.svelte
Due: svelte

fix some time dependent tests
  tests/lib/api/util.spec.ts
Due: none

add latest weight tracker entry to dashboard data as fallback
  src-tauri/src/service/dashboard.rs
  src-tauri/tests/cmd/test_dashboard_cmd.rs
  src/routes/(app)/+page.svelte
Due: rust, svelte

ensure weight tracker for dashboard exists (#200)
  src-tauri/src/service/dashboard.rs
  src-tauri/tests/cmd/test_dashboard_cmd.rs
  src/routes/(app)/+page.svelte
Due: rust, svelte

intake and weight 'find_last' functions should sort by added date, not id
  src-tauri/src/service/intake.rs
  src-tauri/src/service/weight.rs
Due: rust

add settings menu backdrop; add icons to settings menu
  src/lib/component/settings/Settings.svelte
Due: svelte

redesign wizard, welcome and setup page
  src/lib/component/journey/WeightGoalsCard.svelte
  src/lib/component/wizard/Setup.svelte
  src/lib/component/wizard/body/Report.svelte
  src/routes/setup/+page.svelte
  src/routes/welcome/+page.svelte
Due: svelte

redesign settings routes
  src/routes/(app)/about/+page.svelte
  src/routes/(app)/export/+page.svelte
  src/routes/(app)/import/+page.svelte
  src/routes/(app)/profile/+page.svelte
  src/routes/(app)/wizard/+page.svelte
Due: svelte

mark settings icon as active in dock when settings subpages are hit
  src/routes/(app)/+layout.svelte
Due: svelte

decrease FAB z-index to avoid settings menu overlap
  src/routes/(app)/+page.svelte
Due: svelte

fix android safezones
  src-tauri/src/service/dashboard.rs
  src/app.html
  src/style.css
Due: rust, svelte

fix FAB alignment
  src/routes/(app)/+page.svelte
Due: svelte

tidy up WeightGoalsCard
  src-tauri/src/service/dashboard.rs
  src/lib/component/journey/WeightGoalsCard.svelte
  src/lib/component/journey/WeightGoalsCard.test.ts
  src/lib/component/wizard/Finish.svelte
Due: rust, svelte

make date diff calculations zero-based and pad display value in frontend
  src-tauri/src/service/dashboard.rs
  src-tauri/src/service/progress.rs
  src-tauri/tests/cmd/test_dashboard_cmd.rs
  src/routes/(app)/+page.svelte
  src/routes/(app)/progress/+page.svelte
Due: rust, svelte

fix FAB float
  src/routes/(app)/+page.svelte
Due: svelte

fix husky hook staging uncommitted rs files
  .husky/pre-commit
Due: none

update changelog
  CHANGELOG.md
Due: none

branding update (#202)
  .husky/pre-commit
  CHANGELOG.md
  src-tauri/src/service/dashboard.rs
  src-tauri/src/service/intake.rs
  src-tauri/src/service/progress.rs
  src-tauri/src/service/weight.rs
  src-tauri/tests/cmd/test_dashboard_cmd.rs
  src/app.html
  src/lib/component/journey/WeightGoalsCard.svelte
  src/lib/component/journey/WeightGoalsCard.test.ts
  src/lib/component/settings/Settings.svelte
  src/lib/component/wizard/Finish.svelte
  src/lib/component/wizard/Setup.svelte
  src/lib/component/wizard/body/Report.svelte
  src/routes/(app)/+layout.svelte
  src/routes/(app)/+page.svelte
  src/routes/(app)/about/+page.svelte
  src/routes/(app)/export/+page.svelte
  src/routes/(app)/import/+page.svelte
  src/routes/(app)/profile/+page.svelte
  src/routes/(app)/progress/+page.svelte
  src/routes/(app)/wizard/+page.svelte
  src/routes/setup/+page.svelte
  src/routes/welcome/+page.svelte
  src/style.css
Due: rust, svelte

26.07.2 (#203)
  .husky/pre-commit
  CHANGELOG.md
  src-tauri/src/service/dashboard.rs
  src-tauri/src/service/intake.rs
  src-tauri/src/service/progress.rs
  src-tauri/src/service/weight.rs
  src-tauri/tests/cmd/test_dashboard_cmd.rs
  src/app.html
  src/lib/component/journey/WeightGoalsCard.svelte
  src/lib/component/journey/WeightGoalsCard.test.ts
  src/lib/component/settings/Settings.svelte
  src/lib/component/wizard/Finish.svelte
  src/lib/component/wizard/Setup.svelte
  src/lib/component/wizard/body/Report.svelte
  src/routes/(app)/+layout.svelte
  src/routes/(app)/+page.svelte
  src/routes/(app)/about/+page.svelte
  src/routes/(app)/export/+page.svelte
  src/routes/(app)/import/+page.svelte
  src/routes/(app)/profile/+page.svelte
  src/routes/(app)/progress/+page.svelte
  src/routes/(app)/wizard/+page.svelte
  src/routes/setup/+page.svelte
  src/routes/welcome/+page.svelte
  src/style.css
Due: rust, svelte

enable patch releases
  .github/scripts/generate-version.sh
  .github/workflows/cd.yml
Due: none

fix android systembar and overscroll issues
  src-tauri/android-templates/MainActivity.kt
  src-tauri/android-templates/colors.xml
  src-tauri/android-templates/setup-android.sh
  src-tauri/android-templates/themes.xml
  src-tauri/tauri.conf.json
  src/routes/(app)/+page.svelte
  src/routes/(app)/export/+page.svelte
  src/routes/(app)/history/+page.svelte
  src/routes/(app)/import/+page.svelte
  src/routes/(app)/profile/+page.svelte
  src/routes/(app)/progress/+page.svelte
  src/routes/(app)/wizard/+page.svelte
  src/routes/setup/+page.svelte
  src/style.css
Due: rust, svelte

use gh to determine patch version strategy
  .github/scripts/generate-version.sh
  .github/workflows/cd.yml
Due: none

26.07.3 (#205)
  .github/scripts/generate-version.sh
  .github/workflows/cd.yml
  CHANGELOG.md
  src-tauri/android-templates/MainActivity.kt
  src-tauri/android-templates/colors.xml
  src-tauri/android-templates/setup-android.sh
  src-tauri/android-templates/themes.xml
  src-tauri/tauri.conf.json
  src/routes/(app)/+page.svelte
  src/routes/(app)/export/+page.svelte
  src/routes/(app)/history/+page.svelte
  src/routes/(app)/import/+page.svelte
  src/routes/(app)/profile/+page.svelte
  src/routes/(app)/progress/+page.svelte
  src/routes/(app)/wizard/+page.svelte
  src/routes/setup/+page.svelte
  src/style.css
Due: rust, svelte

use gh to determine patch version strategy
  .github/scripts/generate-version.sh
Due: none

enable safe insets for webview
  src-tauri/android-templates/MainActivity.kt
  src-tauri/android-templates/colors.xml
  src-tauri/android-templates/setup-android.sh
  src-tauri/android-templates/themes.xml
  src-tauri/tauri.conf.json
  src/routes/(app)/+page.svelte
  src/routes/setup/+page.svelte
  src/style.css
Due: rust, svelte

fix safe inset (#207)
  .github/workflows/cd.yml
  src-tauri/android-templates/MainActivity.kt
  src-tauri/android-templates/colors.xml
  src-tauri/android-templates/setup-android.sh
  src-tauri/android-templates/themes.xml
  src-tauri/tauri.conf.json
  src/routes/(app)/+page.svelte
  src/routes/setup/+page.svelte
  src/style.css
Due: rust, svelte

clean up naming convention
  src/lib/api/command-hooks.ts
  src/lib/api/index.ts
  src/lib/api/util.ts
  src/lib/component/intake/IntakeMask.test.ts
  src/lib/component/intake/IntakeScore.svelte
  src/lib/component/journey/IntakePlanCard.svelte
  src/lib/component/journey/IntakePlanCard.test.ts
  src/lib/component/wizard/Finish.svelte
  src/lib/component/wizard/Setup.svelte
  src/lib/composition/useEntryModal.svelte.ts
  src/routes/(app)/+page.svelte
  src/routes/(app)/history/+page.svelte
  src/routes/(app)/history/+page.ts
  tests/lib/api/util.spec.ts
Due: svelte

chore(intake): consolidate category preselection time windows
  openspec/changes/archive/2026-05-26-revise-intake-default-category-scenarios/.openspec.yaml
  openspec/changes/archive/2026-05-26-revise-intake-default-category-scenarios/design.md
  openspec/changes/archive/2026-05-26-revise-intake-default-category-scenarios/proposal.md
  openspec/changes/archive/2026-05-26-revise-intake-default-category-scenarios/specs/intake-tracking/spec.md
  openspec/changes/archive/2026-05-26-revise-intake-default-category-scenarios/tasks.md
  openspec/specs/intake-tracking/spec.md
  src/lib/api/category.ts
  tests/lib/api/category.spec.ts
Due: svelte

add e2e step in ci
  .github/workflows/ci.yml
Due: none

test(traceability): backfill citations + adopt scenario! macro for Rust tests
  CLAUDE.md
  openspec/changes/backfill-test-citations/tasks.md
  openspec/specs/_conv-test-traceability/spec.md
  scripts/check-spec-traceability.sh
  src-tauri/src/lib.rs
  src-tauri/src/test_support.rs
  src-tauri/tests/cmd/test_export_cmd.rs
  src-tauri/tests/cmd/test_import_cmd.rs
  src-tauri/tests/cmd/test_intake_cmd.rs
  src-tauri/tests/cmd/test_progress_cmd.rs
  src-tauri/tests/cmd/test_tracker_history_cmd.rs
  src-tauri/tests/cmd/test_user_cmd.rs
  src-tauri/tests/cmd/test_weight_cmd.rs
  src-tauri/tests/cmd/test_wizard_cmd.rs
  src-tauri/tests/repo/test_intake_repo.rs
  src-tauri/tests/repo/test_weight_repo.rs
  tests/lib/composition/useEntryModal.test.ts
Due: rust

abandon e2e integration after reevaluation
  .github/workflows/ci.yml
  CLAUDE.md
  e2e/README.md
  e2e/fixtures/app.ts
  e2e/fixtures/db.ts
  e2e/fixtures/seed.ts
  e2e/pages/dashboard.ts
  e2e/pages/profile.ts
  e2e/pages/progress.ts
  e2e/pages/welcome.js
  e2e/pages/welcome.ts
  e2e/specs/_smoke.spec.ts
  e2e/specs/app-shell.spec.ts
  e2e/specs/data-export.spec.ts
  e2e/specs/data-import.spec.ts
  e2e/specs/history.spec.ts
  e2e/specs/intake-tracking.spec.ts
  e2e/specs/onboarding.spec.js
  e2e/specs/onboarding.spec.ts
  e2e/specs/plan-review.spec.ts
  e2e/specs/profile.spec.ts
  e2e/specs/progress.spec.ts
  e2e/specs/weight-tracking.spec.ts
  openspec/changes/archive/2026-05-26-conv-e2e-tests/.openspec.yaml
  openspec/changes/archive/2026-05-26-conv-e2e-tests/design.md
  openspec/changes/archive/2026-05-26-conv-e2e-tests/proposal.md
  openspec/changes/archive/2026-05-26-conv-e2e-tests/tasks.md
  openspec/changes/conv-e2e-tests/design.md
  openspec/changes/conv-e2e-tests/proposal.md
  openspec/changes/conv-e2e-tests/specs/_conv-e2e-tests/spec.md
  openspec/changes/conv-e2e-tests/tasks.md
  openspec/config.yaml
  openspec/specs/_conv-test-traceability/spec.md
  package-lock.json
  package.json
  playwright.config.ts
  src-tauri/Cargo.toml
  src-tauri/src/cmd/mod.rs
  src-tauri/src/cmd/seed.rs
  src-tauri/src/lib.rs
Due: rust
