Repository thwbh/librefit: changes, and which Codecov flags are due for each by the changed paths.
All: rust, svelte

chore(specs): archive food-recognition improvments
  openspec/changes/archive/2026-10-05-ai-intake-capture-ux-polish/.openspec.yaml
  openspec/changes/archive/2026-10-05-ai-intake-capture-ux-polish/design.md
  openspec/changes/archive/2026-10-05-ai-intake-capture-ux-polish/proposal.md
  openspec/changes/archive/2026-10-05-ai-intake-capture-ux-polish/specs/food-recognition/spec.md
  openspec/changes/archive/2026-10-05-ai-intake-capture-ux-polish/tasks.md
  openspec/specs/food-recognition/spec.md
Due: none

chore(deps-dev): bump @sveltejs/kit to 3.0.0 and @sveltejs/adapter-static to 4.0.0
  package-lock.json
  package.json
  src/routes/(app)/progress/+page.svelte
  src/routes/(app)/progress/page.test.ts
  svelte.config.js
  vite.config.ts
Due: svelte

ci: keep typescript-bindings artifact for 7 days
  .github/workflows/ci.yml
Due: none

chore: migrate tsconfig extends to $app/tsconfig for SvelteKit 3
  tsconfig.json
Due: none

test(food-recognition): close coverage gaps in the capture/analysis pipeline
  src/lib/component/intake/IntakeCaptureButton.test.ts
  src/lib/food-recognition/index.test.ts
  src/routes/(app)/page.test.ts
Due: none

chore(i18n): propose specs
  openspec/changes/add-i18n-foundation/.openspec.yaml
  openspec/changes/add-i18n-foundation/design.md
  openspec/changes/add-i18n-foundation/proposal.md
  openspec/changes/add-i18n-foundation/tasks.md
Due: none

test(food-recognition): close Rust coverage gaps in the FR pipeline
  src-tauri/tests/cmd/mod.rs
  src-tauri/tests/cmd/test_food_recognition_cmd.rs
  src-tauri/tests/helpers/mod.rs
  src-tauri/tests/repo/test_food_recognition_repo.rs
Due: rust

feature(food-recognition): ux polish, camera, loading state, confidence, failure recovery (#441)
  CHANGELOG.md
  openspec/changes/archive/2026-10-05-ai-intake-capture-ux-polish/.openspec.yaml
  openspec/changes/archive/2026-10-05-ai-intake-capture-ux-polish/design.md
  openspec/changes/archive/2026-10-05-ai-intake-capture-ux-polish/proposal.md
  openspec/changes/archive/2026-10-05-ai-intake-capture-ux-polish/specs/food-recognition/spec.md
  openspec/changes/archive/2026-10-05-ai-intake-capture-ux-polish/tasks.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/mobile.json
  src-tauri/src/lib.rs
  src-tauri/src/service/food_recognition/mapping.rs
  src-tauri/tests/cmd/mod.rs
  src-tauri/tests/cmd/test_food_recognition_cmd.rs
  src-tauri/tests/helpers/mod.rs
  src-tauri/tests/repo/test_food_recognition_repo.rs
  src/lib/component/intake/IntakeCaptureButton.svelte
  src/lib/component/intake/IntakeCaptureButton.test.ts
  src/lib/component/intake/IntakeModal.svelte
  src/lib/component/intake/IntakeModal.svelte.test.ts
  src/lib/composition/useEntryModal.svelte.ts
  src/lib/food-recognition/index.test.ts
  src/lib/food-recognition/index.ts
  src/lib/snackbar.test.ts
  src/lib/snackbar.ts
  src/routes/(app)/+page.svelte
  src/routes/(app)/page.test.ts
Due: rust, svelte

26.41 (#444)
  CHANGELOG.md
  openspec/changes/archive/2026-10-05-ai-intake-capture-ux-polish/.openspec.yaml
  openspec/changes/archive/2026-10-05-ai-intake-capture-ux-polish/design.md
  openspec/changes/archive/2026-10-05-ai-intake-capture-ux-polish/proposal.md
  openspec/changes/archive/2026-10-05-ai-intake-capture-ux-polish/specs/food-recognition/spec.md
  openspec/changes/archive/2026-10-05-ai-intake-capture-ux-polish/tasks.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/mobile.json
  src-tauri/src/lib.rs
  src-tauri/src/service/food_recognition/mapping.rs
  src-tauri/tests/cmd/mod.rs
  src-tauri/tests/cmd/test_food_recognition_cmd.rs
  src-tauri/tests/helpers/mod.rs
  src-tauri/tests/repo/test_food_recognition_repo.rs
  src/lib/component/intake/IntakeCaptureButton.svelte
  src/lib/component/intake/IntakeCaptureButton.test.ts
  src/lib/component/intake/IntakeModal.svelte
  src/lib/component/intake/IntakeModal.svelte.test.ts
  src/lib/composition/useEntryModal.svelte.ts
  src/lib/food-recognition/index.test.ts
  src/lib/food-recognition/index.ts
  src/lib/snackbar.test.ts
  src/lib/snackbar.ts
  src/routes/(app)/+page.svelte
  src/routes/(app)/page.test.ts
Due: rust, svelte

fix(food-recognition): add missing camera permission to config
  CHANGELOG.md
  src-tauri/capabilities/mobile.json
Due: rust

26.41.1 (#446)
  CHANGELOG.md
  src-tauri/capabilities/mobile.json
Due: rust

build(typegen): replace cli typegen with bin crate (#285)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: rust

chore(deps-dev): bump @sveltejs/kit to 3.0.0 and @sveltejs/adapter-static to 4.0.0 (#442)
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/routes/(app)/progress/+page.svelte
  src/routes/(app)/progress/page.test.ts
  svelte.config.js
  tsconfig.json
  vite.config.ts
Due: svelte

chore: reconcile Cargo.lock after rebase onto develop
  src-tauri/Cargo.lock
Due: rust

chore(dev-deps): update dependencies (#447)
  .github/workflows/android-release.yml
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src/routes/(app)/progress/+page.svelte
  src/routes/(app)/progress/page.test.ts
  svelte.config.js
  tsconfig.json
  vite.config.ts
Due: rust, svelte

Path conditions:
  rust: any of: src-tauri/, but not: src-tauri/target, src-tauri/migrations, src/lib/api/gen, tests, **/*.test.ts, **/*.test.svelte
  svelte: any of: src/, but not: src-tauri/target, src-tauri/migrations, src/lib/api/gen, tests, **/*.test.ts, **/*.test.svelte
