Repository thwbh/librefit: changes, and which Codecov flags are due for each by the changed paths.
All: rust, svelte

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

flags:
  rust:
    paths:
      - src-tauri/
    carryforward: true
  svelte:
    paths:
      - src/
    carryforward: true

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "src-tauri/target"
  - "src-tauri/migrations"
  - "src/lib/api/gen"
  - "tests"
  - "**/*.test.ts"
  - "**/*.test.svelte"

feat(workout): pin stats + active exercise in overlay header, orange resting palette
  src/lib/component/dashboard/DashboardLayout.svelte
  src/lib/component/dashboard/WorkoutModule.svelte
  src/lib/component/intake/IntakeScore.test.ts
  src/lib/component/intake/IntakeStack.test.ts
  src/lib/component/workout/ExercisePicker.svelte
  src/lib/component/workout/WorkoutOverlay.svelte
  src/lib/component/workout/WorkoutSummary.svelte
Due: svelte

feat(workout): worked-muscle body map on completion screen (gender from profile, full back/core mapping)
  package-lock.json
  package.json
  src/lib/component/workout/WorkoutSummary.svelte
  src/lib/workout/workout-state.svelte.ts
Due: svelte

fix(workout): Start Set always opens the picker instead of reusing the last exercise
  src/lib/component/workout/WorkoutOverlay.svelte
Due: svelte

feat(workout): add per-exercise set recap to the completion summary
  src/lib/component/workout/WorkoutSummary.svelte
  src/lib/workout/workout-state.svelte.ts
Due: svelte

feat(workout): per-exercise set recap on summary; mark change tasks done, note deferred work
  openspec/changes/add-dashboard-workout-tracking/design.md
  openspec/changes/add-dashboard-workout-tracking/tasks.md
  src/routes/(app)/+page.svelte
  src/routes/(app)/+page.ts
  src/routes/(app)/page.test.ts
Due: svelte

refactor(workout): adopt svelte-body-highlighter muscle slugs as the shared vocabulary
  openspec/changes/add-dashboard-workout-tracking/design.md
  src-tauri/migrations/2026-05-31-180000_add_workout_tracking/up.sql
  src/lib/component/workout/ExercisePicker.svelte
  src/lib/component/workout/WorkoutSummary.svelte
Due: svelte

chore(common): upgrade svelte version to ^5.50
  package-lock.json
  package.json
Due: none

chore(workout): archive specs
  openspec/changes/archive/2026-06-01-add-dashboard-workout-tracking/.openspec.yaml
  openspec/changes/archive/2026-06-01-add-dashboard-workout-tracking/README.md
  openspec/changes/archive/2026-06-01-add-dashboard-workout-tracking/design.md
  openspec/changes/archive/2026-06-01-add-dashboard-workout-tracking/proposal.md
  openspec/changes/archive/2026-06-01-add-dashboard-workout-tracking/specs/dashboard/spec.md
  openspec/changes/archive/2026-06-01-add-dashboard-workout-tracking/specs/workout-tracking/spec.md
  openspec/changes/archive/2026-06-01-add-dashboard-workout-tracking/tasks.md
  openspec/specs/dashboard/spec.md
  openspec/specs/workout-tracking/spec.md
Due: none

chore(wizard): fix context-dependent tests
  src/lib/context/ContextWrapper.test.svelte
  src/lib/context/MissingContext.test.svelte
  src/lib/context/SafeWizardChild.test.svelte
  src/lib/context/UpdatingParent.test.svelte
  src/lib/context/WizardChild.test.svelte
  src/lib/context/WizardParent.test.svelte
  src/lib/context/index.ts
  src/lib/context/user.svelte.ts
  src/lib/context/wizard.test.ts
  src/lib/context/wizard.ts
Due: svelte

refactor(workout): wrap multi-table writes in transactions; drop redundant sequence column
  openspec/specs/workout-tracking/spec.md
  src-tauri/src/db/schema.rs
  src-tauri/src/service/workout.rs
  src-tauri/tests/cmd/test_intake_cmd.rs
Due: rust

refactor(workout): wrap multi-table writes in transactions; drop redundant sequence column
  src-tauri/migrations/2026-05-31-180000_add_workout_tracking/up.sql
  src/lib/workout/metrics.test.ts
Due: none

chore(workout): resolve missing scenario coverage
  openspec/specs/workout-tracking/spec.md
  src-tauri/tests/cmd/test_workout_cmd.rs
Due: rust

chore(common): upgrade rust dependencies; clean up npm test fixes
  package-lock.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src/lib/component/intake/IntakeMask.test.ts
  src/lib/component/workout/ExercisePicker.svelte.test.ts
  tests/utils/TestWrapper.svelte
Due: rust

chore(history): upgrade sveltekit, vitest and svelte-gesture dependencies
  package-lock.json
  package.json
  src/lib/component/history/HistoryDayCard.svelte
  src/lib/component/history/HistoryWeek.svelte
Due: svelte

feat(devops): add dependabot scanning
  .github/dependabot.yml
  .github/workflows/dependency-review.yml
Due: none

chore(dependabot): fix inline report message
  .github/workflows/dependency-review.yml
Due: none

chore(dependabot): rebuild package-json
  .github/dependabot.yml
  .github/workflows/dependency-review.yml
  package-lock.json
Due: none

chore(test): upgrade vitest 7 -> 8; increase coverage
  CLAUDE.md
  package-lock.json
  package.json
  src-tauri/tests/cmd/test_workout_cmd.rs
  src-tauri/tests/repo/mod.rs
  src-tauri/tests/repo/test_utilities.rs
  src/lib/component/dashboard/WorkoutModule.svelte.test.ts
  src/lib/component/workout/ExercisePicker.svelte.test.ts
  src/lib/component/workout/RestTimer.svelte.test.ts
  src/lib/component/workout/SetMask.svelte.test.ts
  src/lib/component/workout/WorkoutOverlay.svelte.test.ts
  src/lib/component/workout/WorkoutSummary.svelte.test.ts
  src/lib/composition/useEntryModal.test.ts
  vite.config.ts
Due: rust

chore(devops): update changelog
  CHANGELOG.md
Due: none

fix(dependencies): align tauri plugin versions between cargo and npm
  package-lock.json
  package.json
Due: none

chore(dependencies): fix lockfile
  package-lock.json
  package.json
Due: none

fix(dependencies): regenerate package-lock.json with proper dependency tree
  package-lock.json
Due: none

fix(dependabot): adjust dependabot config to match scheme
  .github/dependabot.yml
  .npmrc
Due: none

26.23.1 (#213)
  .github/dependabot.yml
  .npmrc
  package-lock.json
  package.json
Due: none

chore(build): set minify from esbuild to oxc
  vite.config.ts
Due: none

26.23.2 (#239)
  vite.config.ts
Due: none

fix(dashboard): fix indefinite loop due to unguarded shared state mutation
  src/routes/(app)/+page.svelte
Due: svelte

26.23.3 (#240)
  CHANGELOG.md
  src/routes/(app)/+page.svelte
Due: svelte

fix(tests): fix dashboard test regression
  src/routes/(app)/page.test.ts
Due: none

fix(test): fix dashboard regression
  src/routes/(app)/page.test.ts
Due: none

fix(tests): run ci on deps PR
  .github/workflows/ci.yml
Due: none

ci: target Dependabot at deps branch + auto-merge patch/minor
  .github/dependabot.yml
  .github/workflows/dependabot-automerge.yml
Due: none

fix(deps): use borrow required for validator 0.19 -> 0.20 version bump
  src-tauri/src/i18n/localize.rs
Due: rust

fix(deps): apply review suggestions
  src-tauri/src/i18n/localize.rs
Due: rust

fix(deps): apply review suggestion
  src-tauri/src/i18n/localize.rs
Due: rust

fix(deps): update lockfile
  package-lock.json
Due: none

fix(deps): upgrade node version 20.x -> 22.x
  .github/workflows/android-release.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
Due: none
