Repository thwbh/librefit: changes, and which Codecov flags are due for each by the changed paths.
All: rust, svelte

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

flags:
  rust:
    paths:
      - src-tauri/
    carryforward: true
  svelte:
    paths:
      - src/
    carryforward: true

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "src-tauri/target"
  - "src-tauri/migrations"
  - "src/lib/api/gen"
  - "tests"
  - "**/*.test.ts"
  - "**/*.test.svelte"

test(workout): add overlay regression test
  src/lib/component/workout/WorkoutOverlay.svelte.test.ts
Due: none

chore(templates): sync openspec
  openspec/changes/archive/2026-09-22-add-workout-templates/.openspec.yaml
  openspec/changes/archive/2026-09-22-add-workout-templates/design.md
  openspec/changes/archive/2026-09-22-add-workout-templates/proposal.md
  openspec/changes/archive/2026-09-22-add-workout-templates/specs/workout-tracking/spec.md
  openspec/changes/archive/2026-09-22-add-workout-templates/tasks.md
  openspec/specs/workout-tracking/spec.md
Due: none

workout templates (#404)
  openspec/changes/archive/2026-09-22-add-workout-templates/.openspec.yaml
  openspec/changes/archive/2026-09-22-add-workout-templates/design.md
  openspec/changes/archive/2026-09-22-add-workout-templates/proposal.md
  openspec/changes/archive/2026-09-22-add-workout-templates/specs/workout-tracking/spec.md
  openspec/changes/archive/2026-09-22-add-workout-templates/tasks.md
  openspec/specs/workout-tracking/spec.md
  src-tauri/migrations/2026-06-03-000000_add_workout_templates/up.sql
  src-tauri/migrations/2026-09-17-194313_add_workout_templates/down.sql
  src-tauri/migrations/2026-09-17-194313_add_workout_templates/up.sql
  src-tauri/src/db/schema.rs
  src-tauri/src/lib.rs
  src-tauri/src/service/workout.rs
  src-tauri/tests/cmd/mod.rs
  src-tauri/tests/cmd/test_template_cmd.rs
  src/lib/api/report-error.ts
  src/lib/component/settings/Settings.svelte
  src/lib/component/workout/ExerciseFormModal.svelte
  src/lib/component/workout/ExerciseFormModal.svelte.test.ts
  src/lib/component/workout/ExerciseQuickFix.svelte
  src/lib/component/workout/StartWorkoutSheet.svelte
  src/lib/component/workout/StartWorkoutSheet.svelte.test.ts
  src/lib/component/workout/TemplateFormModal.svelte
  src/lib/component/workout/TemplateFormModal.svelte.test.ts
  src/lib/component/workout/WorkoutOverlay.svelte
  src/lib/component/workout/WorkoutOverlay.svelte.test.ts
  src/lib/workout/workout-state.svelte.ts
  src/routes/(app)/+page.svelte
  src/routes/(app)/templates/+page.svelte
  src/routes/(app)/templates/page.test.ts
Due: rust, svelte

chore(deps): sync package-lock.json with CI npm 10.9.8
  package-lock.json
Due: none

chore(dev-deps): update dependencies (#405)
  .github/workflows/android-release.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-lockfile-sync.yml
  .github/workflows/dependency-review.yml
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src/lib/component/intake/IntakeStack.test.ts
  src/lib/component/journey/EncouragementMessage.test.ts
  src/lib/component/journey/UserProfileCard.test.ts
  src/lib/component/journey/WeightGoalsCard.test.ts
  tests/utils/mocks.ts
Due: rust

chore(ci): align Node with local dev via .nvmrc (node 26)
  .github/workflows/android-release.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dependabot-lockfile-sync.yml
  .github/workflows/dependency-review.yml
  .nvmrc
Due: none

chore(ci): align Node with local dev via .nvmrc (node 26) (#409)
  .github/workflows/android-release.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dependabot-lockfile-sync.yml
  .github/workflows/dependency-review.yml
  .nvmrc
Due: none

chore(export): sync openspec
  openspec/changes/archive/2026-09-24-replace-csv-export-with-json/.openspec.yaml
  openspec/changes/archive/2026-09-24-replace-csv-export-with-json/design.md
  openspec/changes/archive/2026-09-24-replace-csv-export-with-json/proposal.md
  openspec/changes/archive/2026-09-24-replace-csv-export-with-json/specs/data-export/spec.md
  openspec/changes/archive/2026-09-24-replace-csv-export-with-json/specs/data-import/spec.md
  openspec/changes/archive/2026-09-24-replace-csv-export-with-json/tasks.md
  openspec/specs/data-export/spec.md
  openspec/specs/data-import/spec.md
Due: none

feat(export): replace csv export with json export
  openspec/changes/replace-csv-export-with-json/tasks.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/res/tracker.db.bak-1789719086
  src-tauri/src/service/export/csv.rs
  src-tauri/src/service/export/json.rs
  src-tauri/src/service/export/mod.rs
  src-tauri/src/service/import/csv.rs
  src-tauri/src/service/import/json.rs
  src-tauri/src/service/import/mod.rs
  src-tauri/tests/cmd/test_export_cmd.rs
  src-tauri/tests/cmd/test_import_cmd.rs
  src/routes/(app)/export/+page.svelte
  src/routes/(app)/import/+page.svelte
  src/routes/(app)/import/page.test.ts
Due: rust, svelte

chore(export): propose openspec changes
  openspec/changes/replace-csv-export-with-json/.openspec.yaml
  openspec/changes/replace-csv-export-with-json/design.md
  openspec/changes/replace-csv-export-with-json/proposal.md
  openspec/changes/replace-csv-export-with-json/specs/data-export/spec.md
  openspec/changes/replace-csv-export-with-json/specs/data-import/spec.md
  openspec/changes/replace-csv-export-with-json/tasks.md
Due: none

json export (#411)
  openspec/changes/archive/2026-09-24-replace-csv-export-with-json/.openspec.yaml
  openspec/changes/archive/2026-09-24-replace-csv-export-with-json/design.md
  openspec/changes/archive/2026-09-24-replace-csv-export-with-json/proposal.md
  openspec/changes/archive/2026-09-24-replace-csv-export-with-json/specs/data-export/spec.md
  openspec/changes/archive/2026-09-24-replace-csv-export-with-json/specs/data-import/spec.md
  openspec/changes/archive/2026-09-24-replace-csv-export-with-json/tasks.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/service/export/csv.rs
  src-tauri/src/service/export/json.rs
  src-tauri/src/service/export/mod.rs
  src-tauri/src/service/import/csv.rs
  src-tauri/src/service/import/json.rs
  src-tauri/src/service/import/mod.rs
  src-tauri/tests/cmd/test_export_cmd.rs
  src-tauri/tests/cmd/test_import_cmd.rs
  src/routes/(app)/export/+page.svelte
  src/routes/(app)/import/+page.svelte
  src/routes/(app)/import/page.test.ts
Due: rust, svelte

fix(ci): pin tauri-typegen CLI to the workspace version (0.5.1)
  .github/workflows/android-release.yml
Due: none

fix: remove accidentally committed personal database backup
  .gitignore
Due: none

docs(changelog): add 26.39.0 release notes
  CHANGELOG.md
Due: none

build(typegen): generate TS bindings via xtask instead of the CLI
  .github/workflows/android-release.yml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src-tauri/xtask/Cargo.toml
  src-tauri/xtask/src/main.rs
Due: rust

build(android): introduce xtask for CI
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/xtask/src/lib.rs
  src-tauri/xtask/src/main.rs
Due: rust

refactor(typegen): generate via src/bin/typegen.rs instead of xtask crate
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/src/bin/typegen.rs
  src-tauri/tauri.conf.json
  src-tauri/xtask/Cargo.toml
  src-tauri/xtask/src/lib.rs
  src-tauri/xtask/src/main.rs
Due: rust

chore(build): eliminate tauri-plugin-log version skew
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: rust

chore(dev-deps): prevent tauri version skew with groups
  .github/dependabot.yml
Due: none

fix(typegen): run generation from isolated crate, not a package bin
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/bin/typegen.rs
  src-tauri/tauri.conf.json
  src-tauri/typegen/Cargo.toml
  src-tauri/typegen/src/main.rs
Due: rust

fix(exercise): shortvalue and longvalue must be declared in the correct order
  src-tauri/src/service/workout.rs
  src-tauri/tests/cmd/test_exercise_cmd.rs
  src-tauri/tests/helpers/mod.rs
Due: rust

26.39.1 (#419)
  src-tauri/src/service/workout.rs
  src-tauri/tests/cmd/test_exercise_cmd.rs
  src-tauri/tests/helpers/mod.rs
Due: rust

chore(food-recognition): add spec drafts
  openspec/changes/add-food-recognition/.openspec.yaml
  openspec/changes/add-food-recognition/design.md
  openspec/changes/add-food-recognition/proposal.md
  openspec/changes/add-food-recognition/specs/data-export/spec.md
  openspec/changes/add-food-recognition/specs/data-import/spec.md
  openspec/changes/add-food-recognition/specs/food-recognition/spec.md
  openspec/changes/add-food-recognition/specs/intake-tracking/spec.md
  openspec/changes/add-food-recognition/tasks.md
Due: none

feat(food-recognition): add api calls, app_config table, secret storage mock
  openspec/changes/add-food-recognition/tasks.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/migrations/2026-10-03-120000_add_app_config/down.sql
  src-tauri/migrations/2026-10-03-120000_add_app_config/up.sql
  src-tauri/src/db/schema.rs
  src-tauri/src/lib.rs
  src-tauri/src/secret.rs
  src-tauri/src/service/app_config.rs
  src-tauri/src/service/food_recognition/adapter.rs
  src-tauri/src/service/food_recognition/analysis.rs
  src-tauri/src/service/food_recognition/image.rs
  src-tauri/src/service/food_recognition/mapping.rs
  src-tauri/src/service/food_recognition/mod.rs
  src-tauri/src/service/mod.rs
  src-tauri/tests/repo/mod.rs
  src-tauri/tests/repo/test_food_recognition_repo.rs
Due: rust

feat(food-recognition): add LLM provider configuration and consent popups
  README.md
  openspec/changes/add-food-recognition/tasks.md
  src-tauri/src/service/app_config.rs
  src-tauri/src/service/export/json.rs
  src-tauri/src/service/food_recognition/adapter.rs
  src-tauri/src/service/food_recognition/mod.rs
  src-tauri/src/service/import/json.rs
  src-tauri/tests/cmd/mod.rs
  src-tauri/tests/cmd/test_export_cmd.rs
  src-tauri/tests/cmd/test_food_recognition_config_cmd.rs
  src-tauri/tests/repo/test_food_recognition_repo.rs
  src/lib/component/intake/AiConsentModal.svelte
  src/lib/component/intake/IntakeCaptureButton.svelte
  src/lib/component/intake/IntakeCaptureButton.test.ts
  src/lib/component/intake/IntakeModal.svelte
  src/lib/component/settings/Settings.svelte
  src/lib/composition/useEntryModal.svelte.test.ts
  src/lib/composition/useEntryModal.svelte.ts
  src/lib/food-recognition/index.ts
  src/routes/(app)/+page.svelte
  src/routes/(app)/ai/+page.svelte
Due: rust, svelte

feat(food-recognition): add LLM provider setup validation
  src-tauri/src/service/food_recognition/mod.rs
  src/lib/component/intake/IntakeCaptureButton.svelte
  src/routes/(app)/+page.svelte
  src/routes/(app)/+page.ts
  src/routes/(app)/ai/+page.svelte
Due: rust, svelte

feat(food-recognition): enable keyring and reqwest for Android
  openspec/changes/add-food-recognition/design.md
  openspec/changes/add-food-recognition/tasks.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/android/app/src/main/java/io/tohowabohu/librefit/MainActivity.kt
  src-tauri/src/lib.rs
  src-tauri/src/secret.rs
  src-tauri/src/service/food_recognition/adapter.rs
  src/lib/component/intake/AiConsentModal.svelte
  src/lib/food-recognition/index.ts
Due: rust, svelte

chore(food-recognition): update openspec & changelog
  CHANGELOG.md
  README.md
  openspec/changes/archive/2026-10-04-add-food-recognition/.openspec.yaml
  openspec/changes/archive/2026-10-04-add-food-recognition/design.md
  openspec/changes/archive/2026-10-04-add-food-recognition/proposal.md
  openspec/changes/archive/2026-10-04-add-food-recognition/specs/data-export/spec.md
  openspec/changes/archive/2026-10-04-add-food-recognition/specs/data-import/spec.md
  openspec/changes/archive/2026-10-04-add-food-recognition/specs/food-recognition/spec.md
  openspec/changes/archive/2026-10-04-add-food-recognition/specs/intake-tracking/spec.md
  openspec/changes/archive/2026-10-04-add-food-recognition/tasks.md
  openspec/specs/data-export/spec.md
  openspec/specs/data-import/spec.md
  openspec/specs/food-recognition/spec.md
  openspec/specs/intake-tracking/spec.md
Due: none

chore(openspec): add missing id prefix
  openspec/specs/food-recognition/spec.md
Due: none

chore(ci): add required 'secret-service' crypto dependency for linux
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: rust

fix(ci): fix failing tests
  package-lock.json
  src/lib/component/intake/IntakeCaptureButton.test.ts
  src/routes/(app)/page.load.test.ts
Due: none

chore(specs): add ux polish specs
  openspec/changes/ai-intake-capture-ux-polish/.openspec.yaml
  openspec/changes/ai-intake-capture-ux-polish/design.md
  openspec/changes/ai-intake-capture-ux-polish/proposal.md
  openspec/changes/ai-intake-capture-ux-polish/specs/food-recognition/spec.md
  openspec/changes/ai-intake-capture-ux-polish/tasks.md
Due: none

feat(food-recognition): swap gallery picker with camera; improve loading screen
  openspec/changes/ai-intake-capture-ux-polish/design.md
  openspec/changes/ai-intake-capture-ux-polish/proposal.md
  openspec/changes/ai-intake-capture-ux-polish/specs/food-recognition/spec.md
  openspec/changes/ai-intake-capture-ux-polish/tasks.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/mobile.json
  src-tauri/src/lib.rs
  src-tauri/src/service/food_recognition/mapping.rs
  src-tauri/tests/repo/test_food_recognition_repo.rs
  src/lib/component/intake/IntakeCaptureButton.svelte
  src/lib/component/intake/IntakeCaptureButton.test.ts
  src/lib/component/intake/IntakeModal.svelte
  src/lib/component/intake/IntakeModal.svelte.test.ts
  src/lib/composition/useEntryModal.svelte.ts
  src/lib/food-recognition/index.test.ts
  src/lib/food-recognition/index.ts
  src/lib/snackbar.test.ts
  src/lib/snackbar.ts
  src/routes/(app)/+page.svelte
  src/routes/(app)/page.test.ts
Due: rust, svelte
